[Unit]
Description = Run inotifywait in backgoround

[Service]
User=root
Group=root
ExecStart=/bin/bash /home/pi/CSC-848-autopwn/monitor.sh
RestartSec=10

[Install]
WantedBy=multi-user.target
